<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MidiFlex WebUI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.3/socket.io.js"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</head>
<body>
    <form method="POST" action="{{ url_for('logout') }}">
        <p><input type="submit" value="Logout"></p>
    </form>
    <h1>Welcome, {{ current_user.id }}!</h1>

    <div class="buttons-container">
        {% for button in buttons %}
            <button class="midi-button" onclick="sendButtonCommand('{{ button.note }}', '{{ button.velocity }}')">{{ button.label }}</button>
        {% endfor %}
    </div>

    <div class="sliders-container">
        {% for slider in sliders %}
            <label>{{ slider.label }}</label>
            <input type="range" class="slider" id="{{ slider.id }}" min="0" max="127" oninput="sendSliderCommand('{{ slider.id }}', this.value)">
        {% endfor %}
    </div>

    
</body>
</html>
